* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;

}

img {
    width: 100%;
}

.hidden {
    display: none;
}

#wrapper {
    max-width: 1080px;

}

nav {
    background-color: #ECE7E1;
    text-align: right;
    box-shadow: inset 0px -8px 13px -12px rgba(0, 0, 0, 1);
}

ul {
    padding: 0;
}

main {
    float: right;
    width: 80%;
    background-color: #ECE7E1;
}

a {
    text-decoration: none;
    margin: 0 auto;
}

/* Menu Mobil START */

#menuMobil a {
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.96);
    padding-top: 15px;
    padding-bottom: 15px;
    transition: .3s;
    font-family: 'Open Sans', sans-serif;
}

#menuMobil a:hover {
    color: #f85858;
    margin-top: -10px;
    box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.75);
    transform: scale(1.2);
    left: 5%;
    z-index: 100;
}


#menuMobil a:first-child {}

#menuknapMobil {
    z-index: 12;
    width: 20vw;
    height: 20vw;
    margin-right: 5vw;
    margin-top: 4rem;
    text-align: right;
}

#menuMobil {
    width: 100%;
    top: 0;
    right: 0;
    position: inherit;
    min-height: 50vh;
    z-index: 6;
    font-size: 2.5rem;
    background-color: #ECE7E1;
    transition: .3s;
    text-align: center;
    padding-bottom: 20vw;
    transition: transform 2s ease-in;
    transition-delay: 3s;
}

/* Menu mobil SLUT */

/* Menu Desktop START */

#menuDesktop {
    width: 20%;
    height: 100vh;
    /*    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);*/
    z-index: 80;
    float: left;
    background-color: #ECE7E1;
}

#menuDesktop h3 {
    text-align: left;
    border-bottom: 2px solid white;
    margin-left: 1rem;
    font-size: 4rem;
}

.navigation {
    padding-top: 3rem;
    position: fixed;
    width: 216px;
    box-shadow: inset -4px 0px 13px -12px rgba(0, 0, 0, 1);
    background-color: #ECE7E1;
    height: 100vh;
}

#menuDesktop a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    display: block;
    text-align: left;
    padding: 15px;
    margin-left: 15px;
    transition: 0.3s;
    font-family: 'Open Sans', sans-serif;
}

#menuDesktop a:hover {
    color: #f85858;

    box-shadow: -5px 18px 22px -20px rgba(0, 0, 0, 0.9);
    transform: scale(1.1);
    left: 5%;
}

#menuDesktop a.active,
#menuMobil a.active {
    color: #f85858;
}

/* Menu Desktop SLUT */

/* Logo & Skrift */

.logoBillede img {
    padding: 20px;
    padding-bottom: 40px;
}

/*.logo {
    background-image: url(billeder/512x512.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 8vw;
    height: 8vw;

}*/

.logo h4 {
    margin-top: 3rem;
    font-size: 3rem;
    color: black;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
}

/* Logo & Skrift SLUT */

/* Footer START */
/*
footer {
    background-color: #2d2d2f;
    font-size: 1rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.96);
    padding-top: 1rem;

}
*/
/* Footer SLUT */

/* Indhold containers & classes START */

#portfolie .middle_top_container {
    display: flex;
    flex-wrap: wrap;
}

#portfolie .middle_bottom_container {
    display: flex;
    flex-wrap: wrap;
}


#portfolie .top_container {
    display: flex;
    flex-wrap: wrap;
}

#portfolie .bottom_container {
    display: flex;
    flex-wrap: wrap;
}

.col_left {
    flex-basis: 300px;
    flex-grow: 1;
    text-align: center;
}

.col_right {
    flex-basis: 300px;
    flex-grow: 1;
    text-align: center;
}

.boxhidden {
    opacity: 0;
    transition: 0.3s;
}

.boxhidden:hover {
    transform: scale(1.4);
    opacity: 1;
}

.box-border {
    margin-top: 66px;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    background-color: rgb(242, 242, 242);
    border: 1px solid black;
    font-family: 'Open Sans', sans-serif;
}

.box-border h2 {
    padding-top: 35%;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: black;
}

.box-border p {

    padding-top: 10px;
    font-size: 3rem;
    margin: 2vh;
    letter-spacing: 0.2rem;
    color: red;
}

.rounded {
    border-radius: 0px;
}



/* Indhold containers & classes SLUT */



/* De forskellige billeder til forside START */

.billede {
    display: flex;
    background: url(billeder/skibillede.jpg) no-repeat bottom;
    background-size: cover;
    height: 432px;
    width: 432px;
    filter: saturate(1.5);

}

.migselv {
    margin: 0 auto;
    display: flex;
    background: url(billeder/mig1.jpg) no-repeat center;
    background-size: cover;
    height: 432px;
    width: 432px;
    filter: saturate(1.6);
}

.aabenbar {
    display: flex;
    background: url(billeder/aaben.PNG) no-repeat center;
    min-height: 432px;
    min-width: 432;
    background-size: cover;
    filter: saturate(1.5);
    position: static;
    bottom: 50%;

}

.swissDesign {
    display: flex;
    background: url(billeder/SwissGraphicDesign.jpg) no-repeat center;
    min-height: 432px;
    min-width: 432;
    background-size: cover;
    filter: saturate(1.5);
}

.aabenhave {
    display: flex;
    background: url(billeder/aabenHave.png) no-repeat center;
    min-height: 432px;
    min-width: 432;
    background-size: cover;
    filter: saturate(1.5);
}

.tms {
    display: flex;
    background: url(billeder/toomuchsharing.PNG) no-repeat center;
    min-height: 432px;
    min-width: 432;
    background-size: cover;
    filter: saturate(1.5);

}

.moleinfestedfarm {
    display: flex;
    background: url(billeder/moleinfestedfarm.PNG) no-repeat;
    min-height: 432px;
    min-width: 432;
    background-size: cover;
    background-position: 56% 20%;


    position: relative;
    filter: saturate(1.5);
}

.webprototype {
    display: flex;
    background: url(billeder/keaWebPrototypecopy.png) no-repeat center;
    min-height: 432px;
    min-width: 432;
    background-size: cover;
    filter: saturate(1.5);
}

.nativeApp {
    display: flex;
    background: url(billeder/nativeAppcopy.png) no-repeat center;
    min-height: 432px;
    min-width: 432;
    background-size: cover;
    filter: saturate(1.5);
    position: relative;
}

/* De forskellige billeder til forside SLUT */

.linkBox {
    display: flex;
    justify-content: space-around;
    background-color: #726f6f;

    min-width: 100px;
    min-height: 50px;

}

.linkBox h5 {
    font-size: 2.5rem;
    color: white;
    margin: 15px;
    padding: 15px;
    transition: .4s;
}

.linkBox h5:hover {


    transform: scale(1);

    color: #f24040;
    filter: brightness(2);
}


/* Swiss side START*/

#wrapper {
    margin: 0 auto;
}

.swisscover {
    display: flex;
    background: url(billeder/swiss/Splash_Lasse.jpg) no-repeat center;
    min-height: 300px;
    min-width: 100%;
    background-size: cover;
    filter: saturate(1.3);
}

.animationcover {
    display: flex;
    background: url(billeder/AnimationEget/StartscreenAni.JPG) no-repeat center;
    min-height: 500px;
    min-width: 805;
    background-size: cover;
}

.sexcover {
    display: flex;
    background: url(billeder/sexogsamfund/startscreen.png) no-repeat center;
    min-height: 500px;
    min-width: 80%;
    background-size: cover;
}

.nativecover {
    display: flex;
    background: url(billeder/DesignXDProto/designsprint.png) no-repeat center;
    min-height: 300px;
    min-width: 100%;
    background-size: cover;
}

.temaTools,
h1 {
    text-align: center;
}

.foerstetekst,
.andentekst,
.tredjetekst {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    margin-top: 6vh;
    margin-bottom: 6vh;

    text-align: left;
}

.andetbillede,
.kodeEksempel,
.statemachine {
    display: flex;
    flex-wrap: wrap;

}

.billede_left,
.kode1 {
    margin-left: 15px;
    margin-right: 7.5px;
    flex-basis: 300px;
    flex-grow: 1;
}


.billede_right,
.kode2 {
    margin-right: 7.5px;
    margin-left: 15px;
    flex-basis: 300px;
    flex-grow: 1;
}

.wrapper {
    font-size: 3rem;
    font-family: 'Lora', serif;



}

.wrapper h1 {
    display: block;

    color: #000000;
    font-weight: bold;
    font-size: 5rem;
    margin-top: 5vh;
    margin-bottom: 10vh;


}

.wrapper h2 {
    color: black;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-bottom: 2px solid black;
}

.wrapper h3 {
    margin: 0;
    color: black;
    font-size: 2.5rem;
    margin: 1vh;
}

.wrapper p {
    font-size: 1.5rem;
}

/* De forskellige billeder til forside SLUT */

/* CV side START */

#top_cv {
    margin: 0 auto;
    text-align: center;
}

.kortinfo {
    justify-content: space-around;
    font-size: 2rem;
    display: inline-block;
    margin-top: 6vh;


}

.kortinfo p {
    font-size: 2rem;
    margin-left: 10px;
    color: #524747;
    text-align: center;
    margin-top: 1vh;

}

.kortinfo h4 {
    margin-top: 1vh;

}

.foerst {
    display: flex;
    font-size: 2rem;
}

.kortommig {
    font-size: 4rem;
    color: black;
    margin: 0 auto;
    width: 80%;
    margin-top: 6vh;
    margin-bottom: 6vh;
}

.webdesigner {
    margin-top: 6bh;
    margin-bottom: 6vh;
}

/* CV side START */

/* Media query, fjerner mobilmenu'en i desktop START */

@media only screen and (min-width: 768px) {

    #menuMobil {
        display: none;
    }

    #menuknapMobil {
        display: none;
    }
}

/* Media query, fjerner mobilmenu'en i desktop SLUT */

/* Media query til mobil opsætning START */

@media only screen and (max-width: 768px) {

    .navigation {
        display: none;
    }

    header {
        width: 100%;
    }

    .navnTekst {
        padding-top: 35vh;
        text-align: center;
        font-size: 2rem;
    }

    .logo h4 {
        margin-top: 1rem;
        letter-spacing: 2px;
        padding-left: 0;
    }

    #menuknapMobil {
        z-index: 10;
        width: 8vw;
        min-height: 12vw;
        margin-top: 2vw;
        margin-right: 4vw;
        margin-bottom: 2vw;
    }

    #menuDesktop {
        display: none;
    }


    main {
        width: 100%;
    }

    .box-border h4 {
        padding-top: 3vh;
        padding-bottom: 3vh;
        font-size: 3rem;
        margin-top: 2vh;
        margin-bottom: 2vh;

    }

    .rounded {
        border-radius: 0px;
    }

    .swissDesign,
    .moleinfestedfarm,
    .tms,
    .nativeApp,
    .webprototype,
    .aabenbar,
    .aabenhave,
    .billede {
        min-height: 100px;
        min-width: 100px;
        height: 200px;
        width: 200px;
    }

    .box-border {
        margin-top: 25px;
        width: 300px;
        height: 150px;
        border-radius: 200px;

    }

    .box-border h2 {
        padding-top: 15%;
        font-size: 2.5rem;
        margin: 2vh;
        letter-spacing: 0.2rem;
    }

    .box-border p {
        padding-top: .5vh;
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }

    .boxhidden:hover {
        transform: scale(1.1);
        opacity: 1;

    }

    .col_left {
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .col_right {
        margin-top: 1px;
        margin-bottom: 1px;
    }

    #portfolie {
        background-color: #808080;
    }


    /* swiss side */


    .foerstetekst,
    .andentekst,
    .tredjetekst {
        font-size: 2.5rem;
        width: 100%;
        margin-top: 6vh;
        margin-bottom: 6vh;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: left;
    }

    .andetbillede,
    .kodeEksempel {
        display: flex;
        flex-wrap: wrap;
    }

    .billede_left,
    .kode1 {
        margin-left: 0px;
        margin-right: 0px;

    }

    .billede_right,
    .kode2 {
        margin-right: 0px;
        margin-left: 0px;
    }

    .linkBox h5 {
        font-size: 2rem;
    }



    .wrapper h1 {
        font-size: 7rem;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .wrapper h2 {
        font-size: 3rem;
        margin-top: 3vh;
        margin-bottom: 3vh;
        margin: 3vh;
        border-bottom: 2px solid black;
    }

    .wrapper h3 {
        font-size: 2rem;
        margin: 2vh;
    }

    .wrapper p {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 2rem;
    }

    .linkBox h5 {
        margin: 0;
        padding: 0;
        margin-top: 1vh;
        margin-bottom: 1vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    .linkBox {
        text-align: center;
        width: 100%;
        display: block;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
}

/* Media query til mobil opsætning START */
